.feedListPane {
    -fx-background-color: #4885a2;
    -fx-effect: dropshadow(one-pass-box, #353535, 20, 0.0, 0, 0);
}

.feedList {
    -fx-background-color: #5baacf;
}

.feedLabel {
    -fx-font-family: "TitilliumText25L";
    -fx-background-color: transparent;
    -fx-font-size: 40;
    -fx-text-fill: #c8e7ff;
}

.feedList .list-cell:filled:selected:focused, .feedList  .list-cell:filled:selected {
    -fx-background-color: focused;
    -fx-text-fill: white;
}

.feedList .list-cell {
    -fx-background-color: white;
}

.feedList .list-cell:empty {
    -fx-background-color: transparent;
}

.feedList .list-cell:filled:hover {
    -fx-background-color: derive(focused, 50%);
}