.folderButton {
    -fx-background-color: transparent;
    -fx-background-radius: 2;
}

.folderButton:hover {
    -fx-background-color: derive(focused, 80%);
}

.wrappingPane {
    -fx-background-color: white;
}