.folder-list-cell:filled {
    -fx-background-color: #dfdfdf;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 10 0 10 5;
    -fx-border-color: white;
}

.list-cell {
    -fx-background-color: white;
}

.expand-folder-button {
    -fx-padding: 0 0 0 0;
    -fx-background-color: #dfdfdf;
    -fx-font-size: 10px;

}

.options-folder-button {
    -fx-background-color: #dfdfdf;
    -fx-padding: 0, 0, 0, 0;
}

.folder-name-label {
    -fx-min-width: 145;
}

.hbox-cell {
    -fx-spacing: 5;
    -fx-alignment: center-left;
}
